@media (max-width: 1200px) {
  #account {
    max-width: 100% !important;
  }
}
#account {
  .table {
    td {
      vertical-align: middle;
    }
  }
  #logoutBtn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
  .properties {
    position: relative;
    padding-top: 0.5rem;
    #createNew {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
    }
    h3 small {
      font-size: 0.8rem;
      color: #aaa;
    }
    table {
      $odd: #f0ffe8;
      $oddHover: #dffcd0;
      $even: #e8fdff;
      $evenHover: #cef8fc;
      tr.odd,
      tr.oddNoHover {
        background: $odd;
      }
      tr.odd:hover {
        background: $oddHover;
      }
      tr.odd td.expanded:hover {
        background: $odd;
      }
      tr.even,
      tr.evenNoHover {
        background: $even;
      }
      tr.even:hover {
        background: $evenHover;
      }
      tr.even td.expanded:hover {
        background: $even;
      }
    }
    .bookings {
      border: 1px solid red;
      thead {
        background: #fff;
      }
      tbody {
        tr.odd {
          background: #eee;
        }
        tr.even {
          background: #fff;
        }
      }
    }
  }

  #bookings {
    thead {
      position: sticky;
      top: 0;
      background: #fff;
    }
    tr.odd {
      background: #f4f4f4;
    }
    tr.even {
      background: #eaeaea;
    }
    .propertyDetails {
      margin-left: 1rem;
    }
    .paymentBtn {
      margin-left: 1rem;
    }
  }
  #loading {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: RGBA(255, 255, 255, 0.8);
    > div {
      top: 50%;
      position: absolute;
      left: 50%;
    }
  }
}
