#editProperty {
  form > div {
    padding: 0.5rem;
  }
  form > div:not(:last-of-type) {
    border-bottom: 2px solid #d11515;
  }
  .form-control[readonly] {
    background-color: unset;
  }
  .form-text {
    color: #6c757d;
    margin-left: 1rem;
  }
  input[type=number] {
    width: 10rem;
  }
  #submitUpdate {
    margin: 1rem;
  }
  .images {
    border-top: 3px dotted #d11515;
    img {
      max-width: 300px;
      margin: 0.5rem;
    }
  }
}